{% extends 'sitemap/base.html' %}

{% load myfilters %}

{% block title %}{{site.site_name}}
{% endblock title %}

{% block content %}

<style>
a {
  color:#343a40;
}
.btn {
  background-color: #343a40;
  border: none;
  color: white;
  padding: 2px 8px;
  font-size: 12px;
  cursor: pointer;
  margin: 0px 5px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.green{
}

.green:hover{
    background-color:green;
}

.yellow{
}

.yellow:hover{
    background-color:yellow;
}

.red{
}

.red:hover{
    background-color:red;
}

.blue{
}

.blue:hover{
    background-color:blue;
}

.setline{
    line-height: 30px;
    margin: 4px 0px;
}

.setline:hover{
    background: #DDD;
}

.options{
    display: none;
}

.setline:hover .options{
    display:block;
}
</style>

<style>
/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>

<h1>Sitemap for {{site.site_name}}</h1>
<hr/>

<div class="container">
{% for ele in eleList %}
    <div class="row setline">
        <div class="col-sm-{{ele.1}}"></div>
        <div class="col-sm-2">
            <a href="{{ele.0.location}}" data-toggle="tooltip" data-placement="bottom" title="{{ele.0.comment}}">{{ele.0.element}}</a> 
        </div> 
        <div style="width: 20px;">
            {% if ele.0.require_login %}
                {% comment %} <div class="tooltip">
                    <i class="fa fa-user"></i>
                    <span class="tooltiptext">
                    Requires Login
                    </span>
                </div> {% endcomment %}
                <i class="fa fa-user" data-toggle="tooltip" data-placement="top" title="Requires Login"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 options">
            <button id="{{ele.0.id}}" text="{{ele.0.element}}" location="{{ele.0.location}}" class="btn green" type="submit" onClick="addSite(this);"  data-toggle="tooltip" data-placement="top" title="add sublink">
                <i class="fa fa-plus"></i>
            </button>
            <button id="{{ele.0.id}}" text="{{ele.0.element}}" class="btn red" type="submit" onClick="deleteMe(this);"  data-toggle="tooltip" data-placement="top" title="delete link">
                <i class="fa fa-trash"></i>
            </button>
            <button id="{{ele.0.id}}" text="{{ele.0.element}}" class="btn blue" type="submit" onClick="editMe(this);"  data-toggle="tooltip" data-placement="top" title="edit link">
                <i class="fa fa-edit"></i>
            </button>
            <button id="{{ele.0.id}}" text="{{ele.0.element}}" class="btn yellow" type="submit" onClick="getVulnerability(this);"  data-toggle="tooltip" data-placement="top" title="Vulnerabilities">
                <i class="fa fa-bug"></i>
            </button>
        </div>
    </div>
{% endfor %}
</div>


{% comment %} {% for ele in eleList %}
    {% if ele.1 != 0 %}
        {% for i in ele.1|rangelt1 %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% endfor %}
        |--->
    {% endif %}
    {{ele.0.element}}
    <br>
{% endfor %} {% endcomment %}


<script>

function generateForm(butn, link, popup){
    var addForm = document.createElement('form');
    addForm.method = "POST";
    addForm.action = link;
    
    var elementInput = document.createElement('input');
    elementInput.setAttribute("name","element");
    elementInput.setAttribute("id", "ele-input");
    elementInput.setAttribute("class", "form-control");
    elementInput.setAttribute("type", "text");
    var elementLabel = document.createElement("label");
    elementLabel.setAttribute("for", "ele-input");
    elementLabel.innerText = "Element Name: ";
    var div1 = document.createElement("div");
    div1.setAttribute("class", "form-group");
    div1.appendChild(elementLabel);
    div1.appendChild(elementInput);
    addForm.appendChild(div1);
    
    var locationInput = document.createElement('input');
    locationInput.setAttribute("name", "location");
    locationInput.setAttribute("type", "url");
    locationInput.setAttribute("id", "loc-input");
    locationInput.setAttribute("class", "form-control");
    locationInput.setAttribute("value", butn.getAttribute("location"));
    var locationLabel = document.createElement('label');
    locationLabel.setAttribute("for", "loc-input");
    locationLabel.innerText = "URL Location: ";
    var div2 = document.createElement("div");
    div2.setAttribute("class", "form-group");
    div2.appendChild(locationLabel);
    div2.appendChild(locationInput);
    addForm.appendChild(div2);

    var parentInput = document.createElement("input");
    parentInput.setAttribute("name", "parentDisplay");
    parentInput.setAttribute("type", "text");
    parentInput.setAttribute("id", "parent-ele-id");
    parentInput.setAttribute("value", butn.getAttribute('text'));
    parentInput.disabled = true;
    var parentLabel = document.createElement("label");
    parentLabel.setAttribute("for", "parent-ele-id");
    parentLabel.innerText="Parent Element: ";
    var div3 = document.createElement("div");
    div3.setAttribute("class", "form-group");
    div3.appendChild(parentLabel);
    div3.appendChild(parentInput);
    addForm.appendChild(div3);

    var parentId = document.createElement("input");
    parentId.setAttribute("name", "parent");
    parentId.setAttribute("type", "number");
    parentId.setAttribute("id", "par-id-num");
    parentId.setAttribute("value", parseInt(butn.getAttribute('id')));
    parentId.style.display = "none";
    addForm.appendChild(parentId);

    var requireLoginInput = document.createElement("input");
    requireLoginInput.setAttribute("type", "checkbox");
    requireLoginInput.setAttribute("name", "requireLogin");
    requireLoginInput.setAttribute("id", "req-input");
    var requireLoginLabel = document.createElement("label");
    requireLoginLabel.setAttribute("for", "req-input");
    requireLoginLabel.innerText = "Require Login: ";
    var div34 = document.createElement("div");
    div34.setAttribute("class", "form-group");
    div34.appendChild(requireLoginLabel);
    div34.appendChild(requireLoginInput);
    addForm.appendChild(div34);

    var commentInput = document.createElement("textarea");
    commentInput.setAttribute("name", "comment");
    commentInput.setAttribute("id", "comment-input");
    addForm.appendChild(commentInput);
    var commentLabel = document.createElement("label");
    commentLabel.setAttribute("for", "comment-input");
    commentLabel.innerText = "Comment: ";
    var div4 = document.createElement("div");
    div4.setAttribute("class", "form-group");
    div4.appendChild(commentLabel);
    div4.appendChild(commentInput);
    addForm.appendChild(div4);


    var saveButton = document.createElement("button");
    saveButton.setAttribute("type", "submit");
    saveButton.setAttribute("class", "btn btn-success");
    saveButton.innerText = "Save";
    addForm.appendChild(saveButton);

    var cancelButton = document.createElement("button");
    cancelButton.setAttribute("class", "btn btn-danger");
    cancelButton.innerText = "Cancel";
    cancelButton.onclick = function(){
        document.body.removeChild(popup);
    }
    addForm.appendChild(cancelButton);

    return addForm;
}

function addSite(butn){
    var popup = document.createElement('div');
    popup.setAttribute('class', 'modal');

    var inside_pop = document.createElement('div');
    inside_pop.setAttribute('class', 'modal-content');

    var header = document.createElement('h3');
    header.innerText = "Add Link";
    inside_pop.append(header);
    
    var addForm = generateForm(butn, 'addSite/', popup);

    inside_pop.appendChild(addForm);
    popup.appendChild(inside_pop);

    document.body.appendChild(popup);
}

function deleteMe(butn){
    output = confirm("Do you want to delete "+String(butn.getAttribute("text")));
    if(output == true){
      var myForm = document.createElement("form");
      myForm.method = "POST";
      myForm.action = "deleteSitemap/";
      myInput = document.createElement("input");
      myInput.setAttribute("type", "number");
      myInput.setAttribute("name", "id");
      myInput.setAttribute("value", parseInt(butn.getAttribute("id")));
      myForm.appendChild(myInput);
      document.body.appendChild(myForm);
      myForm.submit();
      document.body.removeChild(myForm);
    }
}

function editMe(butn){
    var popup = document.createElement('div');
    popup.setAttribute('class', 'modal');

    var inside_pop = document.createElement('div');
    inside_pop.setAttribute('class', 'modal-content');

    var header = document.createElement('h3');
    header.innerText = "Edit Link";
    inside_pop.append(header);
    
    var addForm = generateForm(butn, 'editSitemap/'+butn.getAttribute('id')+'/', popup);

    var currentId = butn.getAttribute('id');

    inside_pop.appendChild(addForm);
    popup.appendChild(inside_pop);

    document.body.appendChild(popup);

    $.getJSON('/getSitemap/'+currentId+'/',
        function (data, textStatus, jqXHR){
            if (textStatus == "success"){
                $('#ele-input').val(data.element);
                $('#loc-input').val(data.location);
                $('#parent-ele-id').val(data.parent);
                $('#par-id-num').val(data.parentpk);
                $('#req-input').prop('checked', data.require_login);
                if(data.comment!=null){
                    $('#comment-input').val(data.comment);
                }
                console.log('requireLogin: ', data.require_login);
            }
            else{
                console.log("invalid data");
            }
        }
    );
}

function getVulnerability(butn){
    var currentId = butn.getAttribute('id');
    var popup = document.createElement('div');
    popup.setAttribute('id', 'pop-up');
    popup.setAttribute('class', 'modal');

    var inside_pop = document.createElement('div');
    inside_pop.setAttribute('class', 'modal-content');

    var header = document.createElement('h3');
    header.innerText = "Vulnerabilities in "+ butn.getAttribute('text');
    inside_pop.append(header);
    
    //var addForm = generateForm(butn, 'editSitemap/'+butn.getAttribute('id')+'/', popup);

    $(`<table class="table">
        <thead>
            <tr>
            <th scope="col">Date</th>
            <th scope="col">Vulnerability</th>
            <th scope="col">is_reported</th>
            <th scope="col">is_fixed</th>
            <th scope="col">Buttons</th>
            </tr>
        </thead>
        <tbody id="vulnBody">
            
        </tbody>
        </table>
        <button class="btn btn-danger" onclick="document.body.removeChild(document.getElementById('pop-up'));">Close</button>`)
        .appendTo(inside_pop);


    popup.appendChild(inside_pop);

    document.body.appendChild(popup);

    $.getJSON(currentId+'/getVulnerability/',
        function(data, textStatus, jqHXR){
            if(textStatus == "success"){
                console.log(data);
                data = JSON.parse(data);
                for(var i=0; i<data.length; i++){
                    console.log('loop: '+String(i));
                    var d = new Date(data[i]['fields']['timestamp']);
                    var df = String(d.getMonth())+'/'+String(d.getDate())+' - '+String(d.getHours())+':'+String(d.getMinutes());
                    $(`<tr>
                        <th scope="row">`+df+`</th>
                        <td>`+data[i]['fields']['vulnerability']+`</td>
                        <td>`+data[i]['fields']['is_reported']+`</td>
                        <td>`+data[i]['fields']['is_fixed']+`</td>
                        <td><button class="btn btn-warning">Open</button></td>
                    </tr>`).appendTo($('#vulnBody'));
                }
            }
        }
    );
}

function printMe(butn){
    console.log(butn);
}

</script>

{% endblock content %}